body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 75px;
    margin-right: 75px;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: #323131;
    z-index: 3;
}

.logo-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.logo {
    width: 130px;
    height: 70px;
    border-radius: 10%;
    margin-right: 5px;
}

.search {
    display: flex;
    align-items: center;
    width: 180px;
    height: 30px;
    padding: 10px;
}

.search input[type="text"] {
    flex: 1;
    width: 90%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
}

.search button {
    height: 100%;
    margin-left: 10px;
    padding: 0px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6662ad;
    cursor: pointer;
}

.img-loupe {
    width: 20px;
    height: 20px;
}

.topnav {
    background-color: #323131;
    overflow: hidden;
}
  
.topnav a {
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s ease;
}
  
.topnav a:hover {
    background-color: #323131;
    color: rgb(139, 138, 138);
}
  
.topnav a.active {
    background-color: #323131;
    color: rgb(136, 134, 134);
    text-decoration: underline;
}
  
.topnav .icon {
    position: fixed;
    display: none;
    top: 5px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        position: fixed;
        float: right;
        display: block;
        right: 10px;
    }
    .logo {
        width: 85px;
        height: 40px;
        border-radius: 10%;
        margin-right: 5px;
    }
    .search {
        position: relative;
        bottom: 15px;
        flex-direction: column;
        align-items: center;
        width: 100px;
    }
    .search button {
        margin-left: 0px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: fixed;
        top: 20px;
        right: 90px;
    }
    .topnav.responsive a.icon {
        position: fixed;
        right: 10px;
        top: 5px;
    }
    .topnav.responsive a {
        position: relative;
        display: block;
        float: none;
        text-align: center;
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 50px;
    z-index: 2;
}

.img-prod {
    width: 650px;
    height: auto;
    border-radius: 25px;
    box-shadow: 4px 3px 4px #419af8;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #eee;
    border: none;
    cursor: pointer;
}
span {
    font-size: 2rem;
    margin: 0 1rem;
}

.texte-droite {
    margin-left: 50px;
}

.maps {
    width: 375px; 
    height: 350px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.info-hr {
    width: 100%;
    border-top: 1px solid black;
}

.compteur {
    display: flex;
    flex-direction: row;
}

.compteur {
    border : 1px solid black;
    justify-content: space-between;
    width: 150px;
}

.btn-2 {
    display: flex;
    justify-content: space-between;
}

.button  {
    border: 0;
    background-color: none;
    cursor: pointer;
}

.acheter {
    width: 45%;
    font-size: 14px;
    background-color: none;
}

.prime-hr {
    width: 100%;
    border-top: 3px solid black;
}

.zone-texte {
    color: rgb(136, 134, 134);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px;
    clear: both;
}
  
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: row;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-right: 55px;
}
  
.footer-element {
    color:#AAAAAA;
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;
}
  
.footer-element:hover {
    color:#e4e3e3;
    transition: all linear 0.2s;
}
  
.footer-title {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-mail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-newsletter {
    width: 70%;
    height: 50px;
    margin-bottom: 15px;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.button-newsletter {
    width: 70%;
    height: 30px;
    color: white;
    background-color: #323131;
    border-radius: 10px;
}

.button-newsletter:hover {
    background-color: rgb(32, 31, 31);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 110px;
    }
    .responsive-margin {
        margin-left: 20px;
        margin-right: 40px;
    }
    .main {
        padding: 0px;
        margin: 0px;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        padding: 0;
    }
    .img-prod {
        width: 100%;
        height: auto;
    }
    .maps {
        width: 100%;
    }
    .footer-row {
        flex-direction: column;
        justify-content: center;
    }
    .footer-col {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .main {
        flex-direction: column;
    }
}
