body{
    margin: 0;
    padding: 0;
    font-family: Spiegel    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    font-family: Beaufort;
}


.container {
    display: flex;
}

.imageîle{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: max-content(250px, 2fr);
    grid-gap: 50px;
}

.image-border {
    border-color: #333333;
    border-style: solid;
    border-width: 4px;
    width: 1114px;
    height: 521px;
    position: relative;
    left: 145px;
    padding: 1px ;
}

.main-title {
    font-size: 48px;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 3px;
    text-align: center;
}

.subtitle {
    color: #AAAAAA;
    font-size: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

