/*titre*/

h{
  color: black;
  font-size: 56px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 62px;
  word-wrap: break-word;
  position: relative;
  left: 750px;
  top: 100px;
}

p{
  color: #979797;
  font-size: 20px;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word ;
  position: relative;
  left: 450px;
  top: 100px;
}
button{
  color: #0D0D0D;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  width: 194px; 
  height: 50px; 
  left: 800px; 
  top: 300px; 
  position: absolute;
}

.photo{
  width: 1114px; 
  height: 521px;
  left: 350px;
  top: 380px;
  position: absolute;
}


