
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img/ocean-3740996_1920.jpg');
}

.buttonbis {
    display: block;
    margin : auto;
    justify-content: center;
    align-items: center; 
    width: 194px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: rgba(161, 161, 161, 0);
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
 }

 .button1 :hover {
    text-decoration: underline;
    background-color: #7c928e;
    color: antiquewhite;
    cursor: pointer;
 }

a[href]{
    text-decoration: none;
} 


video {
    border-color: #bebebe;
    border-style: groove;
    border-width: 2px;
    width: 1114px;
    height: 521px;
    position: relative;
    left: 450px;
    top: 50px;
}

.ccc{
    position: relative;
    left: 280px;
    top: 30px;
    display: block;
    margin: auto;
}

.imageîle{
    display: flex;
    flex-wrap: wrap;
}
video{ 
    width: auto;
    height: auto:;
}

h1{
    font-size: 48px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px;
    text-align: center;
}

.phrase {
    font-size: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

    
@media (max-width: 768px){
    .phrase{
        color: rgb(0, 0, 0);
    }
    h1{
        color: #000000;
    }
    .partenaire img{
        width: 200px;
        height: 100px;
        position: relative;
        top: 45px;
    }
}
    


@media (min-width: 480px){
    .phrase{
        color:rgb(255, 255, 255);
    }
    h1{
        color: #ffffff;
    }
    .partenaire img{
        width: 381px;
        height: 100px;
        position: relative;
        left: 250px;
        top:150px;
    }
}

@media (max-width: 768px) {
    .imageîle{
        padding-top: 56.25%; 
        position: relative; 
        width: 100%;
    }
    
    video{
        height: 100%; 
        left: 0px; 
        position: absolute; 
        top: 25px; 
        width: 100%;
    }
}


