/*Barre de navigation*/

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: #323131;
  z-index: 3;
}

.logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.logo {
  width: 130px;
  height: 70px;
  border-radius: 10%;
  margin-right: 5px;
}

.search {
  display: flex;
  align-items: center;
  width: 180px;
  height: 30px;
  padding: 10px;
}

.search input[type="text"] {
  flex: 1;
  width: 90%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
}

.search button {
  height: 100%;
  margin-left: 10px;
  padding: 0px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6662ad;
  cursor: pointer;
}

.img-loupe {
  width: 20px;
  height: 20px;
}

.topnav {
  background-color: #323131;
  overflow: hidden;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease;
}

.topnav a:hover {
  background-color: #323131;
  color: rgb(139, 138, 138);
}

.topnav a.active {
  background-color: #323131;
  color: rgb(136, 134, 134);
  text-decoration: underline;
}

.topnav .icon {
  position: fixed;
  display: none;
  top: 5px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .topnav a {
      display: none;
  }
  .topnav a.icon {
      position: fixed;
      float: right;
      display: block;
      right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
      position: fixed;
      top: 20px;
      right: 90px;
  }
  .topnav.responsive a.icon {
      position: fixed;
      right: 10px;
      top: 5px;
  }
  .topnav.responsive a {
      position: relative;
      display: block;
      float: none;
      text-align: center;
  }
}

/*Contenu*/

.body {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
}

main {
  color: #00000F;
}

.container{border: 1px}
.container-flex{display: flex;}
.item {border: 1px; padding: 3px;}
.button-color {border: 1px solid black; padding: 10px; margin: 1px; border-radius: 20px;}
.button-rect {border: 1px solid black; padding: 10px; margin: 1px;}
.check {border: 1px; padding: 10px; margin: 1px;}

@media (min-width: 1025px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: landscape;
  }

  .main {
    margin: 80px 20% 0% 20%;
  }

  .flex-row{flex-direction: row;}
  .flex-column{flex-direction: column;}

  .justify-content-center{justify-content: center;}
  .justify-content-space-between{justify-content: space-between;}
  .justify-content-space-around{justify-content: space-around;}
  .justify-content-space-evenly{justify-content: space-evenly;}

  .load {border: 1px solid black; padding-inline: 100px;}
  .align-right {text-align: right;}
  .image-width{width: 300px}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: landscape;
  }

  .main{
    margin: 80px 0% 0% 0%;
  }

  .flex-row{flex-direction: row;}
  .flex-column{flex-direction: column;}

  .justify-content-center{justify-content: center;}
  .justify-content-space-between{justify-content: space-between;}
  .justify-content-space-around{justify-content: space-around;}
  .justify-content-space-evenly{justify-content: space-evenly;}

  .load {border: 1px solid black; padding-inline: 100px;}
  .align-right {text-align: right;}
  .image-width{width: 100%}
}

@media (max-width: 768px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: portrait;
  }

  main {
    margin: 80px 0% 0% 0%;
  }

  .flex-row{flex-direction: column;}
  .flex-column{flex-direction: row;}

  .load {border: 1px solid black; margin-inline: 40%;}
  .center {justify-content: center;}
  .align {text-align: center;}
  .image-width {width: 100%}
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 50px;
  clear: both;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-element {
  color:#AAAAAA;
  margin-top: 10%;
  margin-bottom: 10%;
  text-decoration: none;
}

.footer-element:hover {
  color:#e4e3e3;
  transition: all linear 0.2s;
}

.footer-title {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.container-mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-newsletter {
  width: 70%;
  height: 50px;
  margin-bottom: 15px;
  color: black;
  background-color: white;
  border-radius: 3px;
}

.button-newsletter {
  width: 70%;
  height: 30px;
  color: white;
  background-color: #323131;
  border-radius: 10px;
}

.button-newsletter:hover {
  background-color: rgb(32, 31, 31);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  body {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 110px;
  }
  .responsive-margin {
      margin-left: 20px;
      margin-right: 40px;
  }
  .main {
      padding: 0px;
      margin: 0px;
  }
  .cart {
      width: 100%;
  }
  .cart-resume {
      flex-direction: column;
      align-items: center;
  }
  .cart-item {
      flex-direction: column;
      align-items: center;
  }
  .img-details {
      flex-direction: column;
      align-items: center;
  }
  .img-produit {
      width: 100%;
      height: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .text-item {
      align-self: first baseline;
      margin-bottom: 20px;
  }
  .cart-summary {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
  }
  .order-information {
      width: 80%;
      margin-left: 0px;
  }
  .footer {
      flex-direction: column;
      justify-content: center;
      margin-top: 100px;
      padding: 0;
  }
  .footer-row {
      flex-direction: column;
      justify-content: center;
  }
  .footer-col {
      margin-top: 20px;
      margin-bottom: 50px;
  }
}
