/*Contenu*/

.body {
  border: 1px solid black;
}

.police {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  color: #00000F;
}

a[href] {
  color: black;
  text-decoration: none;
}

a[href]:hover {
  color: #0F0F0F; 
}

.container{border: 1px}
.container-flex{display: flex;}
.item {margin: 2px; border: 1px; padding: 3px;}
.button-color {border: 1px solid black; padding: 10px; border-radius: 20px;}
.button-rect {border: 1px solid black; padding: 10px;}
.check {border: 1px; padding: 10px;}

@media (min-width: 1025px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: landscape;
  }

  .main {
    margin: 80px 20% 0% 20%;
  }

  .flex-row{flex-direction: row;}
  .flex-column{flex-direction: column;}

  .justify-content-center{justify-content: center;}
  .justify-content-space-between{justify-content: space-between;}
  .justify-content-space-around{justify-content: space-around;}
  .justify-content-space-evenly{justify-content: space-evenly;}

  .load {border: 1px solid black; padding-inline: 100px;}
  .align-right {text-align: right;}
  .image-width{width: 300px; height:200px;}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: landscape;
  }

  .main{
    margin: 80px 0% 0% 0%;
  }

  .flex-row{flex-direction: row;}
  .flex-column{flex-direction: column;}

  .justify-content-center{justify-content: center;}
  .justify-content-space-between{justify-content: space-between;}
  .justify-content-space-around{justify-content: space-around;}
  .justify-content-space-evenly{justify-content: space-evenly;}

  .load {border: 1px solid black; padding-inline: 100px;}
  .align-right {text-align: right;}
  .image-width{width: 100%}
}

@media (max-width: 768px) {
  .body {
    margin: 0% 0% 0% 0%;
    orientation: portrait;
  }

  main {
    margin: 80px 0% 0% 0%;
  }

  .flex-row{flex-direction: column;}
  .flex-column{flex-direction: row;}

  .load {border: 1px solid black; margin-inline: 40%;}
  .center {justify-content: center;}
  .align {text-align: center;}
  .image-width {width: 100%}
}
