body {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 75px;
  margin-right: 75px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: #323131;
  z-index: 3;
}

.logo {
  position: absolute;
  width: 130px;
  height: 70px;
  top: 7.5px;
  left: 20px;
  border-radius: 10%;
}

.topnav {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #323131;
  overflow: hidden;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease;
}

.topnav a:hover {
  background-color: #323131;
  color: rgb(139, 138, 138);
}

.topnav a.active {
  background-color: #323131;
  color: rgb(136, 134, 134);
  text-decoration: underline;
}

.topnav .icon {
  position: fixed;
  display: none;
  top: 5px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .topnav a {
      display: none;
  }
  .topnav a.icon {
      position: fixed;
      float: right;
      display: block;
      right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
      position: fixed;
      top: 20px;
      right: 90px;
  }
  .topnav.responsive a.icon {
      position: fixed;
      right: 10px;
      top: 5px;
  }
  .topnav.responsive a {
      position: relative;
      display: block;
      float: none;
      text-align: center;
  }
}

/*titre*/

h{
  color: black;
  font-size: 56px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 62px;
  word-wrap: break-word;
  position: relative;
  left: 750px;
  top: 100px;
}

p{
  color: #979797;
  font-size: 20px;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word ;
  position: relative;
  left: 450px;
  top: 100px;
}

button{
  color: #0D0D0D;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  width: 194px; 
  height: 50px; 
  left: 800px; 
  top: 300px; 
  position: absolute;
}

img{
  width: 1114px; 
  height: 521px;
  left: 350px;
  top: 380px;
  position: absolute;
}


/*pied de page*/
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
  clear: both;
  margin-top: 60%;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-col {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}


.footer-element {
  color:#AAAAAA;
  margin-top: 3%;
  margin-bottom: 3%;
}

.footer-element:hover {
  color:#EEEEEE;
  transition: all linear 0.2s;
}

.footer-title {
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 10%;
}

