body {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 75px;
    margin-right: 75px;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: #323131;
    z-index: 3;
}

.logo {
    position: absolute;
    width: 130px;
    height: 70px;
    top: 7.5px;
    left: 20px;
    border-radius: 10%;
}

.topnav {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #323131;
    overflow: hidden;
}
  
.topnav a {
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease;
}
  
.topnav a:hover {
    background-color: #323131;
    color: rgb(139, 138, 138);
}
  
.topnav a.active {
    background-color: #323131;
    color: rgb(136, 134, 134);
    text-decoration: underline;
}
  
.topnav .icon {
    position: fixed;
    display: none;
    top: 5px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        position: fixed;
        float: right;
        display: block;
        right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: fixed;
        top: 20px;
        right: 90px;
    }
    .topnav.responsive a.icon {
        position: fixed;
        right: 10px;
        top: 5px;
    }
    .topnav.responsive a {
        position: relative;
        display: block;
        float: none;
        text-align: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 125px;
    padding: 20px;
    z-index: 2;
}

.cart-resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e4e3e3;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #000000;
}

.img-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-produit { 
    width: 300px;
    height: 240px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 4px 3px 4px #419af8;
}  

.text-item {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.maps {
    margin-top: 5px;
}

.cart-item p {
    margin: 0;
    font-size: 18px;
}

.cart-total {
    margin-top: 20px;
    font-size: 24px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #323131;
    opacity: 95%;
}
